@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
    --white: #ffffff !important;
    --light-gray: #eee !important;
    --blue-1: #053B50 !important;
    --blue-2: #176B87 !important;
    --blue-3: #64CCC5 !important; 
}

* {
    font-family: 'Poppins', sans-serif;
}

.detail-kelas-header-title {
    background-color: var(--light-gray);
    color: var(--blue-1);
}

#btn-beli {
    background-color: var(--blue-2);
    color: var(--white);
    transition: .3s;
}

#btn-beli:hover {
    background-color: var(--light-gray);
    color: var(--blue-1);
    border: 1px solid var(--blue-1);
}

#kelas-level {
    background-color: var(--blue-2);
}

#modul-kelas li span {
    width: 30px; 
    height: 30px; 
    line-height: 30px
}

#pengajar-kelas .pengajar-avatar {
    width: 50px;
    height: 50px;
}